@tailwind base;
@tailwind components;
@tailwind utilities;


.body-background {  
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://as1.ftcdn.net/v2/jpg/02/79/12/42/1000_F_279124266_QRp7wTZ8SOm3zwkWKXgle3XoXOKr2PGI.jpg");
  overflow: hidden;
}